<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mission STEM</title>
    <link href='../static/css/bootstrap.min.css' rel='stylesheet' />
    <link href='../static/css/cover.css' rel='stylesheet' />
  </head>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
	        <img src= "../static/img/logo_name_333.png" style="width:90%; height:10%">
            <h1 class="cover-heading">Mission STEM.</h1>
            <p class="lead">>> Choose your mission.</p>
            <p class="lead">>> Choose your STEM fairy.</p>
            <p class="lead">>> Save lives.</p>
            <p class="lead">
              <a href="choose_mission.html" class="btn btn-lg btn-default">Start playing</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Made at Hasbro PlayHack, London 2014.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
