<!doctype html>
<html>
  <head>
    <script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mission STEM</title>
    <link href='../static/css/bootstrap.min.css' rel='stylesheet' />
    <link href='../static/css/cover.css' rel='stylesheet' />
    <link href='../static/css/style.css' rel='stylesheet' />
    <link href='../static/css/mission.css' rel='stylesheet' />
  
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h2 class="masthead-brand">Mission: STEM</h2>
	      <br>
	      <br>
	      
              <h3 class="nav masthead-nav">
                Mission dashboard
              </h3>
            </div>
          </div>

<div id="row">
<div class="col-md-6">
<div id="map" style="width:400px; height:400px;"></div>
</div>
<div class="col-md-6">
  <div class="dashboard">
    <h2 style="width:100%;" class="nav masthead-nav">
        Current mission: <p class="lead"> Bridge</p>
    </h2>
    <div class="mission-list">
      <ul>
        <li>Get your materials </li>
        <li>Choose site </li>
        <li style="color: #36ce23"><a href="bridge.html" style="color: #36ce23">Build your Bridge!</a></li>
      </ul>
    </div>
    <div class="score">
      Your score: <span>0</span>
    </div>
  </div>

</div>
<br style="clear:both;"/>
</div>
<br>




          <div class="mastfoot">
            <div class="inner">
              <p>Made at Hasbro PlayHack, London 2014.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/controllers.js"></script>
    <script src="../static/js/jquery-2.0.3.min.js"></script>
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/mission2.js"></script>
    <script src="../static/js/app.js"></script>

  </body>
</html>
